<% @microposts.each do |micropost| %>
<li class = "media mb-4">
  <div class = "mr">
    <%= link_to gravatar_for(micropost.user), user_url(micropost.user) %>
  </div>
  <div class = "media-body ml-3">
    <h5><%= link_to micropost.user.name,micropost.user %></h5>
    <div><%= micropost.content %></div>
    <small class = "text-muted">Posted<%= time_ago_in_words(micropost.created_at) %>ago</small>
  </div>
</li>
<% end %>